*{
  margin: 0px;
  padding: 0px;
}
#background {
    height: 100%;
    background: linear-gradient(#FFFDC3, #C2E4FF); /* Standard syntax (must be last) */
    margin: 0px
}



/* homepage grid */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.item {
    padding: 20px;
    text-align: center;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* img dimensions */
img {
    z-index: -1;
    height: 350px;
    width: 400px;
}

.zoom {
  	padding: 10px;
    transition: transform .2s; /* Animation */
  	margin: 0px;
}
.zoom:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15);
}



/* Grid Mods */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 770px) {
  #background{
    height: 100%;
  }
    .container {
      grid-template-columns: 1fr;
    }
    .item {
      overflow: auto;
      text-align: center;
    }

    img{
      height: 220px;
      width: 270px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px max-width: 1000px;) {
  #background{
    height: 100%;
  }

  .container {
    grid-template-columns: 1fr 1fr;
    height: auto;
  }

  .item {
    overflow: auto;
    text-align: center;
}

  h1{
    font-size: 20px;
  }

  img{
    height: 150px;
    width: 200px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  h1{
      font-size: 50px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    .container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .item {
      overflow: hidden;
    }

    }
  img{
  height: 350px;
  width: 400px;
  }

}
